* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav{
    position: fixed;
    border-bottom:2px rgb(0, 0, 3) solid ;
    background-color: rgb(0, 0, 3);
    width: 100%;
    color: white;
    top: 0;
    left: 0;
  }
  .container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container2{
    font-size: 30px;
    text-decoration: none;
    padding-top: 10px;
    color:inherit;
}

.links{
    display: flex;
}
.links li{
    list-style: none;
    margin: 15px 5px;
}
.links li a{
    padding: 10px;
    text-decoration: none;
    color: inherit;
}
.links li a:hover,.links li a[href="#home"]{
    color: #32a852;
    
}
/* header style */
header{
    padding-top: 50px;
    color: white;
}

.overlay{
    background:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(./images.png);
    /* ,url(https://thumbs.dreamstime.com/b/good-health-best-wealth-tablet-pc-69491874.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


    /* background-attachment: fixed; */
}
.overlay h1{
    color: #32a852;
    font-size: 40px;


}
.welcamingMSG{
    padding: 50px;
   color: #fff;
   font-size: 22px;
   margin-left: 5%;
   margin-top: 8%;

  
}
.welcamingMSG p,.welcamingMSG h1{
    padding: 20px 0;
   
}
